@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.isState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: calc(100dvh - 14.5rem);
}

.productsList {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 30px;
  max-height: calc(100dvh - 8.3rem);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@media only screen and (max-width: 1600px) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .productsList {
    grid-template-columns: 1fr;
    max-height: calc(100dvh - 14.5rem);
  }
}
