@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  color-scheme: light;
}

body {
  min-width: 100svw;
  min-height: 100svh;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  background-color: $primary-color-light;
  color: $primary-color-dark;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

input {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  background-color: $secondary-color-light;
  color: $primary-color-dark;
  border: 1px solid $tertiary-color-light;
  transition: 0.2s ease-out all;
  &:hover,
  &:focus {
    background-color: $tertiary-color-light;
  }
  &::placeholder {
    color: $gray;
  }
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  color: $primary-color-dark;
  font-weight: 500;
  transition: 0.2s ease-out all;
  &:hover {
    background-color: $lime-lightH;
  }
  &:disabled {
    background-color: $tertiary-color-light;
    color: $gray;
  }
}

.circle_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  max-width: 100%;
  max-height: 50px;
  border-radius: 50%;
  background-color: $primary-color-light;
  color: $tertiary-color-dark;
  border: 1px solid $tertiary-color-light;
  transition: 0.2s ease-out all;
  &:hover,
  &.active {
    @include button-light;
    svg {
      color: $primary-color-light;
      font-size: 20px;
    }
  }
}

svg {
  font-size: 18px;
}

a {
  color: $primary-color-light;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
}

body[data-theme="dark"] {
  html {
    color-scheme: dark;
  }

  background-color: $primary-color-dark;
  color: $primary-color-light;

  input {
    background-color: $secondary-color-dark;
    color: $primary-color-light;
    border: 1px solid $tertiary-color-dark;
    &:hover,
    &:focus {
      background-color: $tertiary-color-dark;
    }
  }

  button {
    color: $primary-color-dark;
    border: 1px solid #ffffff00;
    &:hover {
      background-color: $lime-darkH;
    }
    &:disabled {
      background-color: $tertiary-color-dark;
      color: $gray;
    }
  }

  .circle_button {
    background-color: $tertiary-color-dark;
    color: $primary-color-light;
    border: 1px solid #ffffff00;
    &:hover,
    &.active {
      @include button-white;
      svg {
        color: $secondary-color-dark;
      }
    }
  }
}

//-Scrollbar----------------------------------------------------------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 0px;
}
