// Dark Theme Color
$primary-color-dark: #131313;
$secondary-color-dark: #202020;
$tertiary-color-dark: #2e2e2e;
$lime-dark: #c0fc34;
$lime-darkH: #baff19;

// Light Theme Color
$primary-color-light: #ffffff;
$secondary-color-light: #f8f8f8;
$tertiary-color-light: #f0f0f0;
$lime-light: #92d404;
$lime-lightH: #9be203;

$gray: #8d8d8d;
$white: #ffffff;
$lime-lighter: #cbfd58;
$red: #da615d;
