@import "@/app/styles/variables";

aside {
  width: 20%;
  height: 100%;
  padding: 1rem;
  background-color: $secondary-color-dark;
  border-radius: 2.4rem;
}

body[data-theme="light"] {
  aside {
    background-color: $secondary-color-light;
    border: 1px solid $tertiary-color-light;
  }
}

@media only screen and (max-width: 1280px) {
  aside {
    display: none;
  }
}
