@import "@/app/styles/variables";

.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    min-height: 36px;
    padding: 0.4rem 0.8rem;
    background-color: $tertiary-color;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    &:hover,
    &.active {
      background-color: $lime;
      color: $primary-color;
    }
  }
  .exported {
    &__buttons {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.6rem;
    }
  }

  .category {
    &__buttons {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 0.6rem;
      row-gap: 0.6rem;
    }
  }
}
