@import "@/app/styles/variables";

aside {
  .informer {
    padding-left: 1rem;
    padding-right: 1rem;
    button {
      display: none;
    }
  }
}

.informer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 1.2rem;
  min-height: 50px;
  padding-right: 1.2rem;
  border-radius: 50px;
  background-color: $white;
  color: $primary-color-dark;
  &__col {
    display: flex;
    flex-direction: column;
    :first-child {
      max-width: 64ch;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 500;
    }
    :last-child {
      text-wrap: nowrap;
    }
  }
}

body[data-theme="light"] {
  .informer {
    background-color: $primary-color-dark;
    color: $primary-color-light;
  }
}

@media only screen and (max-width: 768px) {
  aside {
    .informer {
      padding-left: 0rem;
      button {
        display: flex;
      }
      &__col {
        :first-child {
          max-width: 17ch;
        }
      }
    }
  }
}
