@import "../../scss/variables.scss";

.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    border-radius: 30px;
    max-height: calc(100vh - 8rem);
    overflow-y: scroll;
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem 1.5rem;
      border-radius: 30px;
      background-color: $tertiary-color;
      transition: 0.2s ease-out all;
      &:hover {
        border-radius: 30px;
        background-color: $white;
        color: $primary-color;
        transform: scale(0.98);
        a {
          color: $primary-color;
        }
        #card_badge,
        #card_link {
          border: 1px solid $primary-color;
        }
        #card_link {
          background-color: $secondary-color;
          color: $white;
        }

        .card_name__exported {
          &:before {
            background: #93c128;
          }
        }

        .card_name__notExported {
          &:before {
            background: #ca2b4b;
          }
        }
      }

      &__row_1 {
        display: flex;
        flex-direction: column;
        &__group {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;
          font-size: 1.2rem;
          font-weight: 400;
          .card_name__exported,
          .card_name__notExported {
            &::before {
              content: "";
              display: inline-flex;
              width: 10px;
              height: 10px;
              margin-right: 0.6rem;
              vertical-align: 1px;
              border-radius: 50%;
            }
          }
          .card_name__exported {
            &::before {
              background: $lime;
            }
          }

          .card_name__notExported {
            &::before {
              background: $red;
            }
          }

          #card_quantity {
            white-space: nowrap;
          }
        }
      }

      &__row_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        font-size: 14px;
        #card_add,
        #card_mfd,
        #card_exp {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          :first-child {
            font-weight: 400;
          }
        }
      }

      &__row_3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        #card_link {
          display: flex;
          flex-direction: row;
          gap: 0.4rem;
          padding: 0.2rem 0.4rem;
          border: 1px solid $white;
          border-radius: 1rem;
          font-weight: 400;
        }

        #card_badge {
          display: flex;
          flex-direction: row;
          gap: 0.4rem;
          padding: 0.2rem 0.4rem;
          border: 1px solid $white;
          border-radius: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  @media only screen and (max-width: 1600px) {
    .products {
      &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .products {
      &__header {
        #add {
          display: none;
        }
      }
      &__grid {
        grid-template-columns: 1fr;
        max-height: calc(100vh - 14.3rem);
        &__card {
          &:hover {
            .card_name__exported,
            .card_name__notExported {
              &:last-child {
                max-width: 100%;
                white-space: wrap;
              }
            }
          }
          &__row_1 {
            &__group {
              align-items: flex-start;
              gap: 1rem;
              #card_name {
                white-space: wrap;
              }
            }
          }
        }
      }
    }
  }
}
