@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.ratingCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 30px;
  background-color: $primary-color-light;
  color: $primary-color-dark;
  border: 1px solid $tertiary-color-light;
  scroll-snap-align: start;
  transition: 0.2s ease-out all;
  &:hover {
    @include bg-lDark;
    color: $primary-color-dark;
    #card_title,
    #card_role,
    #card_actions {
      color: $primary-color-light;
    }
  }

  .cardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 1rem;
    line-height: 20px;
    word-break: break-all;
    .cardHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .cardTitle {
        font-weight: 400;
        color: $primary-color-dark;
      }
      .cardRole {
        font-size: 16px;
        color: $gray;
      }
    }

    .cardActions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      padding: 0.5rem 1rem;
      .cardActionsRow {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      .cardActionsCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        :first-child {
          font-weight: 400;
        }
      }
    }
  }
}

body[data-theme="dark"] {
  .ratingCard {
    background-color: $tertiary-color-dark;
    color: $white;
    border: 1px solid $tertiary-color-dark;
    &:hover {
      @include bg-dDark;
      #card_title,
      #card_actions {
        color: $primary-color-light;
      }
    }

    .cardWrapper {
      .cardHeader {
        .cardTitle {
          color: $primary-color-light;
        }
        .cardRole {
          color: $gray;
        }
      }
    }
  }
}
