@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.isCompleted {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 375px;
  img {
    align-self: center;
  }
  .isCompletedButton {
    @include button-light;
  }
}

.isExporting {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 375px;
  img {
    align-self: center;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
  }
}

.exportProducts {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 375px;
  color: $primary-color-dark;
  img {
    align-self: center;
    padding-inline: 2rem;
  }
  .exportButton {
    @include button-light;
  }
}

body[data-theme="dark"] {
  .isCompleted {
    .isCompletedButton {
      @include button-dark;
    }
  }

  .exportProducts {
    color: $primary-color-light;
    .exportButton {
      @include button-dark;
    }
  }
}
