@import "../app/styles/variables";

.layout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100svh;
  padding: 1rem;
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    background-color: $secondary-color;
    opacity: 1;
    transition: all 5s ease;
    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50px;
      min-height: 50px;
      max-width: 50px;
      max-height: 50px;
      padding: 1rem;
      border-radius: 50%;
      background-color: $lime;
      color: $primary-color;
      font-weight: 500;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      #menu_add,
      #menu_activity {
        display: none;
      }
    }
  }

  main,
  aside {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: $secondary-color;
    border-radius: 2.4rem;
  }

  main {
    width: 80%;
    .abount_project {
      display: flex;
      flex-direction: column;
      &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  aside {
    width: 20%;

    .informer {
      padding-left: 1.5rem;
      .export_button,
      .back_button {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .layout {
    .navbar {
      &__menu {
        #menu_activity {
          display: flex;
        }
      }
    }
    aside {
      display: none;
    }
    main {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column-reverse;
    .navbar {
      flex-direction: row;
      &__menu {
        flex-direction: row;
        #menu_add {
          display: flex;
        }
      }
    }
  }
}
