@import "../app/styles/variables";

.layout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100svh;
  padding: 1rem;

  main,
  aside {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: $secondary-color;
    border-radius: 2.4rem;
  }

  main {
    width: 80%;
    .abount_project {
      display: flex;
      flex-direction: column;
      &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  aside {
    width: 20%;

    .informer {
      padding-left: 1.5rem;
      .export_button,
      .back_button {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .layout {
    .navbar {
      &__menu {
        #menu_activity {
          display: flex;
        }
      }
    }
    aside {
      display: none;
    }
    main {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column-reverse;
  }
}
