@import "@/app/styles/variables";

.exportButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: $white;
  svg {
    font-size: 22px;
  }
  &:hover,
  &.active {
    background-color: $white;
    svg {
      color: $primary-color-dark;
    }
  }
}

body[data-theme="light"] {
  .exportButton {
    background-color: #ffffff00;
    color: $primary-color-dark;
    &:hover,
    &.active {
      background-color: #ffffff00;
      svg {
        color: $primary-color-dark;
      }
    }
  }
}
