@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.deleteProduct {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .deleteButton {
    @include button-light;
  }
}

body[data-theme="dark"] {
  .deleteProduct {
    .deleteButton {
      @include button-dark;
    }
  }
}
