@import "../../scss/variables.scss";

.button-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: $white;
  & > svg {
    font-size: 22px;
  }
}
