@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.similarCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  background-color: $primary-color-light;
  color: $primary-color-dark;
  border: 1px solid $tertiary-color-light;
  scroll-snap-align: start;
  transition: 0.2s ease-out all;
  &:hover {
    @include bg-lDark;
    color: $primary-color-light;
    .card_name_exported {
      &:before {
        background: $lime-lightH;
      }
    }

    .card_name_notExported {
      &:before {
        background: #ca2b4b;
      }
    }
  }

  .cardRow_1 {
    display: flex;
    flex-direction: column;
    .cardRow_1_group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      font-weight: 400;
      .card_name_exported,
      .card_name_notExported {
        &::before {
          content: "";
          display: inline-flex;
          width: 10px;
          height: 10px;
          margin-right: 0.6rem;
          vertical-align: 1px;
          border-radius: 50%;
        }
      }
      .card_name_exported {
        &::before {
          background: $lime-light;
        }
      }

      .card_name_notExported {
        &::before {
          background: $red;
        }
      }

      #card_quantity {
        white-space: nowrap;
      }
    }
  }

  .cardRow_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    font-size: 14px;
    #card_add,
    #card_mfd,
    #card_exp {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      :first-child {
        font-weight: 400;
      }
    }
  }
}

body[data-theme="dark"] {
  .similarCard {
    background-color: $tertiary-color-dark;
    color: $primary-color-light;
    border: 1px solid $tertiary-color-dark;
    &:hover {
      @include bg-dDark;
      .card_name_exported {
        &:before {
          background: $lime-darkH;
        }
      }

      .card_name_notExported {
        &:before {
          background: #ca2b4b;
        }
      }
    }

    .card_name_exported {
      &::before {
        background: $lime-dark;
      }
    }

    .card_name_notExported {
      &::before {
        background: $red;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .similarCard {
    &:hover {
      .card_name_exported,
      .card_name_notExported {
        &:last-child {
          max-width: 100%;
          white-space: wrap;
        }
      }
    }
    .cardRow_1 {
      .cardRow_1_group {
        align-items: flex-start;
        gap: 1rem;
        #card_name {
          white-space: wrap;
        }
      }
    }
  }
}
