@import "@/app/styles/variables";

.exportProducts {
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 375px;
  svg {
    align-self: center;
    font-size: 4rem;
  }
}

body[data-theme="light"] {
  .exportProducts {
    color: $primary-color-dark;
  }
}
