@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.exportProducts {
  color: $primary-color-dark;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 375px;
  svg {
    align-self: center;
    font-size: 4rem;
  }
  .exportButton {
    @include button-light;
  }
}

body[data-theme="dark"] {
  .exportProducts {
    color: $primary-color-light;
    .exportButton {
      @include button-dark;
    }
  }
}
