@import "@/app/styles/variables";

.addProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  max-width: 500px;

  .addProductHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .addProductForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .formWrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
      }

      .formInput {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        flex: 1 0;
        position: relative;
        label {
          margin: 0rem 0.2rem;
        }
      }

      .error {
        padding: 0rem 0.2rem;
        color: $gray;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .formButtonWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:has(.similarButton.active) {
        gap: 1rem;
      }
      :first-child {
        width: 100%;
      }
    }

    .similarButton {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0px;
      height: 50px;
      background-color: $secondary-color;
      color: $gray;
      border-radius: 50px;
      border: 1px solid $tertiary-color;
      font-weight: 500;
      transition: 0.2s ease-out all;
      pointer-events: none;
      &.active {
        opacity: 1;
        width: auto;
        padding: 0rem 2rem;
        cursor: pointer;
        pointer-events: all;
        &:hover {
          background-color: $tertiary-color;
          color: $white;
        }
      }
    }
  }
}

#category,
#exp_type {
  border: none;
  border-radius: 10px;
  color: $white;
  transition: 0.2s ease-out all;
}

#category {
  min-height: 50px;
  padding: 0.2rem 0.8rem;
  background-color: $tertiary-color;
  &:hover,
  &:focus {
    background-color: #535353;
  }
}

#exp_type {
  font-weight: 300;
  max-height: 23px;
  &:focus {
    background-color: $secondary-color;
  }
}

#exp_date_informer {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 0.4rem;
  font-size: 14px;
  font-weight: 400;
  color: $lime;
}
