@import "@/app/styles/variables";

.backButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  background-color: #ffffff00;
  color: $primary-color-dark;
  svg {
    font-size: 22px;
  }
  &:hover,
  &.active {
    background-color: #ffffff00;
    svg {
      color: $primary-color-dark;
    }
  }
}

body[data-theme="dark"] {
  .backButton {
    background-color: #ffffff00;
    color: $primary-color-light;
    &:hover,
    &.active {
      background-color: #ffffff00;
      svg {
        color: $primary-color-light;
      }
    }
  }
}
