@import "../../app/styles/variables";

.login,
.register {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 396px;
    &__title {
      padding: 0rem 0.2rem;
      line-height: 1.6rem;
      :last-child {
        color: $gray;
      }
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 300px;
      &__row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      button {
        width: 50%;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 50px;
        background-color: $white;
        color: $primary-color;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .login,
  .register {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    img {
      max-width: 70%;
    }
    &__form {
      width: 100%;
      min-width: auto;
      &__inputs {
        min-width: auto;
      }
    }
  }
}
