@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.signIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100dvw;
  height: 100dvh;

  img {
    min-width: 250px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 396px;
    .formTitle {
      padding: 0rem 0.2rem;
      line-height: 1.6rem;
      :last-child {
        color: $gray;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 300px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      button {
        width: 50%;
      }
      .signInButton {
        @include bg-lLight;
        &:disabled {
          @include button-disabled;
        }
      }
      .signUpButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 50px;
        @include button-light;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

body[data-theme="dark"] {
  .signIn {
    .form {
      .buttons {
        .signInButton {
          @include button-dark;
          &:disabled {
            @include button-disabled-dark;
          }
        }
        .signUpButton {
          @include bg-lLight;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .signIn {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    img {
      max-width: 70%;
    }

    .form {
      width: 100%;
      min-width: auto;

      .inputs {
        min-width: auto;
      }
    }
  }
}
